<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/index.css">
  </head>
<%- include('./partials/head.ejs') %>
<body>
 

  <header>
   
    <%- include('./partials/nav.ejs') %>
  </header>

  <section class="hero">
    <div class="hero-text">
      <h1>Welcome to My Blog</h1>
    </div>
  </section>

  
  <div>
   <h2>
    All Blogs
   </h2>
   <div class="blogs">
    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <a class="single" href="/blogs/<%= blog._id %>">
          <h3><%= blog.title %></h3>
          <p><%= blog.snippet %></p>
        </a>
       
      <% }) %>
    <% } else { %> <!-- Opening else tag -->
      <p>There are no blogs to display......</p> <!-- Fixed case of <p> -->
    <% } %> <!-- Proper closing tag for the if-else block -->
  </div>
  
  

  </div>
  
  <%- include('./partials/footer.ejs') %>
</body>
</html>
